<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{common :: commonHead}">
    <title>Admin Panel</title>
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">👑 관리자 페이지</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>

    <div class="mt-4">
        <a th:href="@{/products}" class="btn btn-secondary">상품페이지로</a>
    </div>
</div>

<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
