<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head th:insert="~{common :: commonHead}">
  <title>Product Manager</title>
</head>

<body>
<div class="container">
  <!-- 로그인하지 않은 경우 -->
  <div sec:authorize="isAnonymous()" class="d-flex justify-content-end gap-2 mb-3">
    <a class="btn btn-outline-primary" th:href="@{/login}">LogIn</a>
    <a class="btn btn-outline-primary" th:href="@{/signup}">SignUp</a>
  </div>
  <!-- 로그인한 경우 -->
  <div sec:authorize="isAuthenticated()" class="d-flex justify-content-between align-items-center gap-2 mb-3">
    <div class="alert alert-success mb-0 d-flex align-items-center" style="flex-grow: 1;">
      🎉 환영합니다,&nbsp;<span th:text="${#strings.substringBefore(#authentication.name, '@')}"></span>님!
    </div>
    <form th:action="@{/logout}" method="post" style="display: inline;">
      <button type="submit" class="btn btn-secondary">LogOut</button>
    </form>
  </div>

  <h1 class="mt-5">Product List</h1>

  <!-- 상품 생성, 관리자 페이지 버튼 -> 관리자만 -->
  <div sec:authorize="hasRole('ADMIN')" class="d-flex justify-content-end gap-2 mb-3">
    <a class="btn btn-primary mb-3" th:href="@{/products/new}">상품 등록</a>
    <a class="btn btn-warning mb-3" th:href="@{/admin/users}">관리자 페이지</a>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Made In</th>
      <th>Price</th>
      <th sec:authorize="hasRole('ADMIN')">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
      <td th:text="${product.id}">Product ID</td>
      <td th:text="${product.name}">Name</td>
      <td th:text="${product.brand}">Brand</td>
      <td th:text="${product.madeIn}">Made in</td>
      <td th:text="${product.price}">Price</td>
      <!--  Edit/Delete 버튼 -> 관리자만 -->
      <td sec:authorize="hasRole('ADMIN')">
        <a class="btn btn-primary btn-sm" th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
        <a class="btn btn-danger btn-sm" th:href="@{'/products/delete/' + ${product.id}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Bootstrap JS fragment 삽입 -->
<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
